/* font-family: "Fraunces", serif;
font-family: "Montserrat", sans-serif; */


body{
    font-family:"Montserrat", sans-serif;
    background-color: hsl(30, 38%, 92%);
    color: hsl(228, 12%, 48%);
    font-size: 14px;
}
.products-main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    position: relative;
    padding: 3rem 1.5rem;
}
.product{
    display: flex;
    flex-direction: column;
    background-color: hsl(0, 0%, 100%);
    border-radius: 5px;
    overflow: hidden;
}
.product-info{
    padding: 1.4rem;
    display: flex;
    flex-direction: column;
    gap:.8rem;
    font-weight: 500;
}
.product-info h1{
    letter-spacing: 2px;
    text-transform: uppercase;
}
h2,.price>li:nth-of-type(1){
    font-family: "Fraunces", serif;
    font-weight: 700;
    font-size: 1.5rem;
}
.product-info{
    color: hsl(212, 21%, 14%);
}
.product-info p{
    word-spacing: .3rem;
}
.price>li:nth-of-type(1){
    color: hsl(158, 36%, 37%);
    display: inline-block;
}
.price>li:nth-of-type(2){
    display: inline-block;
    text-decoration: line-through;
    font-size: .8rem;
    margin-left: .6rem;
    vertical-align: 30%;
}
.product-info button{
    background-color: hsl(158, 36%, 37%) ;
    color: hsl(0, 0%, 100%);
    padding: .5rem;
    align-self: center;
    border: none;
    width: 100%;
    border-radius:2px;
    text-decoration: none;
    transition: background-color 500ms cubic-bezier(0.92, 0.83, 0.69, 0.76);
   font-weight: 700;
}
.product-info button:hover, .product-info button:focus{
    background-color: hsl(158, 34%, 24%);
    cursor: pointer;
}

span[id="cart-Logo"]{
    background-image: url("./images/icon-cart.svg");
    background-repeat: no-repeat;
    display: inline-block;
    width: 1.5rem;
    height: 1rem;
}



.footer{
    position: absolute;
    bottom: 0;
}
.attribution { 
    font-size: 11px;
    text-align: center;
 }
.attribution a { color: hsl(228, 45%, 44%); }

@media(min-width:375px){
    .product{
        flex-direction: row;
        max-width: 600px;
        min-height: 50vh;
    }
    .product>*{
        width: 50%;
    }
    .product img{
        object-fit: cover;
        height: 100%; 
    }   
    .product-info{
        justify-content: space-around;
    }
    .product-info p{
        max-width: 18rem;
        line-height: 1.4;
    }
}